<p>
    <ul>
        <li>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Laboriosam tempora id perferendis omnis delectus porro voluptatum a magnam quod voluptatibus.</li>
        <li>Quisquam vitae a accusamus officia eos numquam corrupti, consequuntur, veniam totam eaque animi cupiditate quasi magni est, dolorum atque laborum.</li>
        <li>Officiis iure sunt et fugit doloremque accusamus vel debitis rem ducimus. Ad distinctio fugiat rerum ratione ipsam ut perferendis cum.</li>
        <li>Provident, doloremque perspiciatis. Beatae autem molestiae distinctio atque, culpa, cumque, laborum provident ab doloremque illo repellat non iure perspiciatis aliquid.</li>
        <li>Porro accusamus consequatur, ea sequi praesentium vitae ad voluptate laudantium repudiandae inventore similique ab quibusdam nostrum? Perspiciatis vero velit eaque!</li>
    </ul>
</p>
<img src="./img/vite-logo.png" alt="">
